<!--template/wirelist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}


{% block content %}
<h2>Tension member inventory</h2>
</br>
<button id="wireadd" class="btn btn-outline-wwdb">Add tension member</button>
</br>
</br>
<button id="wirelocationlist" class="btn btn-outline-wwdb">Edit location of wires</button>
</br>
</br>
<table id="table" class="display nowrap">
    <thead>
        <tr>
            <th>NSF-ID</th>
            <th>Wire Type</th>
            <th>Dry End Tag</th>
            <th>Wet End Tag</th>
            <th>Length</th>
            <th>Nominal Breaking Load</th>
            <th>Tested Breaking Load</th>
            <th>Absolute Breaking Load</th>
            <th>Location</th>
            <th>Winch</th>
            <th> </th>
        </tr>
    </thead>
    {% for wire in wires %}
    <tr>
        <td><a href="{% url 'wireedit' wire.pk %}">{{wire.nsfid}}</a></td>
        <td>{{wire.wirerope}}</td>
        <td>{{wire.dryendtag}}</td>
        <td>{{wire.active_wetendtag}}</td>
        <td>{{wire.active_length}}</td>
        <td>{{wire.nominal_breaking_load}}</td>
        <td>{{wire.tested_breaking_load}}</td>
        <td>{{wire.absolute_breaking_load}}</td>
        <td>{{wire.active_location}}</td>
        <td>{{wire.active_winch}}</td>
        <td>
            <button class='btn'
                    hx-confirm='Are you sure?'
                    hx-target="closest tr"
                    hx-swap="outerHTML swap:1s"
                    hx-delete="{% url 'wiredelete' wire.pk %}">
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#table').DataTable({
            responsive: true,
            scrollX: true,
            order: [[0, "desc"]]
            // Add more options as needed
        });

        // Initialize tooltips (assuming you're using Bootstrap tooltips)
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function () {
        $('#wireadd').click(function () {
            window.location.href = "{% url 'wireadd' %}";
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#wirelocationlist').click(function () {
            window.location.href = "{% url 'wirelocationlist' %}";
        });
    });
</script>
{% endblock content %}
