<!--template/castenddetail.html-->
{% extends "wwdb/base.html" %}

{% block content %}
</br>
</br>
<a href="{% url 'charts' %}?start_date={{ cast.format_startdate_url }}&end_date={{ cast.format_enddate_url }}&winch={{ cast.winch.id }}" class="btn btn-warning btn-lg btn-block">View Plot</a>
</br>
</br>
<div class="cast-entry">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Wire</td>
                <td>{{ cast.wire }}</td>
            </tr>
            <tr>
                <td>Start Cast Operator</td>
                <td>{{ cast.startoperator }}</td>
            </tr>
            <tr>
                <td>End Cast Operator</td>
                <td>{{ cast.endoperator }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ cast.startdate }}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{ cast.enddate }}</td>
            </tr>
            <tr>
                <td>Deployment Type</td>
                <td>{{ cast.deploymenttype }}</td>
            </tr>
            <tr>
                <td>Winch</td>
                <td>{{ cast.winch }}</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>{{ cast.notes }}</td>
            </tr>
            <tr>
                <td>Max Tension</td>
                <td>{{ cast.maxtension }}</td>
            </tr>
            <tr>
                <td>Max Payout</td>
                <td>{{ cast.maxpayout }}</td>
            </tr>
            <tr>
                <td>Payout at Max Tension</td>
                <td>{{ cast.payoutmaxtension }}</td>
            </tr>
            <tr>
                <td>Time at Max Tension</td>
                <td>{{ cast.timemaxtension }}</td>
            </tr>
            <tr>
                <td>Meter at Max Tension</td>
                <td>{{ cast.metermaxtension }}</td>
            </tr>
            <tr>
                <td>Dry End Tag</td>
                <td>{{ cast.dryendtag }}</td>
            </tr>
            <tr>
                <td>Wet End Tag</td>
                <td>{{ cast.wetendtag }}</td>
            </tr>
            <tr>
                <td>Wire Length</td>
                <td>{{ cast.wirelength }}</td>
            </tr>
            <tr>
                <td>Wire Rinse</td>
                <td>{{ cast.wirerinse }}</td>
            </tr>
            <tr>
                <td>Factor of Safety</td>
                <td>{{ cast.factorofsafety }}</td>
            </tr>
            <tr>
                <td>Safe Working Tension</td>
                <td>{{ cast.safeworkingtension }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}