<!--wwdb/templates/configuration/deploymenttablerow.html-->
{% load static %}
<tr>
    <td>{{ deployment.name }}</td>
    <td>{{ deployment.equipment }}</td>
    <td>{{ deployment.status }}</td>
    <td>{{ deployment.notes }}</td>
    <td>
        <button class='btn btn-primary btn-sm'
                hx-get="{% url 'deploymenttableedit' deployment.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
        Edit
        </button>
    </td>
    <td>
        <button class='btn btn-danger btn-sm delete-button'
                hx-confirm="{% if user.is_superuser %}Are you sure? Deployment types cannot be deleted if they have been used for a deployment in the database{% else %}You must be logged in as an admin to delete.{% endif %}"                hx-target="closest tr"
                hx-swap="outerHTML swap:1s"
                hx-delete="{% url 'deploymenttabledelete' deployment.pk %}">
        Delete
        </button>
    </td>
</tr>
