<!--wwdb/templates/configuration/operatortablerow.html-->
{% load static %}
<tr>
    <td>{{ winchoperator.firstname }}</td>
    <td>{{ winchoperator.lastname }}</td>
    <td>{{ winchoperator.status }}</td>
    <td>{{ winchoperator.username }}</td>
    <td>
        <button class='btn btn-primary btn-sm'
                hx-get="{% url 'operatortableedit' winchoperator.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Edit
        </button>
    </td>
    <td>
        <button class='btn btn-danger btn-sm delete-button'
                hx-confirm="{% if user.is_superuser %}Are you sure? Operators cannot be deleted if they have logged casts in the database{% else %}You must be logged in as an admin to delete.{% endif %}"                
                hx-target="closest tr"
                hx-swap="outerHTML swap:1s"
                hx-delete="{% url 'operatortabledelete' winchoperator.pk %}"
                hx-on="htmx:response:handleDeleteResponse">
            Delete
        </button>
    </td>
</tr>




