<!--wwdb/templates/configuration/winchtablerow.html-->
{% load static %}
<tr>
    <td>{{ winch.name }}</td>
    <td>{{ winch.status }}</td>
    <td>{{ winch.ship }}</td>
    <td>{{ winch.institution }}</td>
    <td>
        <button class='btn btn-primary btn-sm'
                hx-get="{% url 'winchtableedit' winch.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Edit
        </button>
    </td>
    <td>
        <button class='btn btn-danger btn-sm delete-button'
                hx-confirm="{% if user.is_superuser %}Are you sure? Winches cannot be deleted if they have logged casts in the database{% else %}You must be logged in as an admin to delete.{% endif %}"                
                hx-target="closest tr"
                hx-swap="outerHTML swap:1s"
                hx-delete="{% url 'winchtabledelete' winch.pk %}">
            Delete
        </button>
    </td>
</tr>
